        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
        }

        header h1 {
            margin: 0;
        }

        header nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        header nav ul li {
            display: inline;
            margin-right: 10px;
        }

        header nav ul li a {
            color: #fff;
            text-decoration: none;
        }
		header nav ul li a:hover {
    color: #09F; /* Cambia el color a rojo cuando se pasa el cursor */
    font-weight: bold; /* Añade negrita al texto cuando se pasa el cursor */
}

        section {
            padding: 20px;
            margin-bottom: 20px;
            background-color: #f9f9f9;
        }

        section h2 {
            margin-top: 0;
        }

        footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        footer p {
            margin: 0;
        }
		.fo{
        background-color:#FFF;	
        }
		input {
		alignment-adjust:central;		
		}
		label {
		text-align:right;		
		}
